h1 {
    margin-bottom: 20px;
}


.main-table {
    border-color: black;
    background-color: #EFEFEF;
    box-shadow: 3px 3px 10px #CCC;
    -moz-box-shadow: 3px 3px 10px #CCC;
    -webkit-box-shadow: 3px 3px 10px #CCC;
}

.main-table th{
    background-color: #333;
    color: #eee;
}

.main-table .btn {
    padding: 3px 10px;
}



.navbar {
    margin-bottom: 20px;
}

.home-stats .stats {
    background-color: #BBB;
    border: #777 1px solid;
    padding: 10px;
    font-size: 15px;
}

.home-stats .stats span {
    font-size: 40px;
    display: block;
}