h1 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.main-table {
    border-color: black;
    background-color: #EFEFEF;
    box-shadow: 3px 3px 10px #CCC;
    -moz-box-shadow: 3px 3px 10px #CCC;
    -webkit-box-shadow: 3px 3px 10px #CCC;
}

.main-table th{
    background-color: #333;
    color: #eee;
}

.main-table .btn {
    padding: 3px 10px;
}

.home-stats .stats {
    background-color: #BBB;
    border: #777 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.home-stats .stats span {
    font-size: 40px;
    display: block;
}

.toggle-info {
    color: #999;
}

.toggle-info:hover {
    color: #444;
    cursor: pointer;
}

.latest {
    /*background-color: #DDD;*/
    /*border-radius: 5px;*/
    margin-top: 8px;
    margin-bottom: 0;
}

.latest li {
    margin-top: 4px;
    padding: 5px 0;
}

.latest li:nth-child(odd) {
    background-color: #DDD;
}

.latest a {
    text-decoration: none;
}

.latest .btn {
    padding: 0 8px 2px;
}

.cats hr {
    margin-bottom: 0;
    margin-top: 0;
}

.cats .options a {
    color: #888;
    text-decoration: none;
}

.cats .options span {
    color: #888;
    cursor: pointer;
}

.cats .options .active {
    color: #00F;
}

.cats .cat {
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.cats .cat .hidden-btn {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    position: absolute;
    right: -150px;
}

.cats .cat:hover .hidden-btn {
    right: 35px;
}

.cats .cat .btn {
    padding: 0 8px 2px;
}

.cats .card-body {
    padding: 0;
}

.cats .cat:hover {
    background-color: #EEE;
}

.cats .cat h3 {
    color: #6A6A6A;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.cats .cat .view p {
  margin: 10px 0;
}

.cats .cat:last-of-type ~ hr {
    display: none;
}

.enabled {
    background-color: #198754;
    color: #FFF;
    border-radius: 8px;
    margin-left: 5px;
    padding: 2px 5px;
}

.disabled {
    background-color: #dc3545;
    color: #FFF;
    border-radius: 8px;
    margin-left: 5px;
    padding: 2px 5px;
}

.hidden {
    background-color: #777777;
    color: #FFF;
    border-radius: 8px;
    margin-left: 5px;
    padding: 2px 5px;
}
