h1 {
    margin-bottom: 20px;
}

.main-table {
    border-color: black;
    background-color: #EFEFEF;
    box-shadow: 3px 3px 10px #CCC;
    -moz-box-shadow: 3px 3px 10px #CCC;
    -webkit-box-shadow: 3px 3px 10px #CCC;
}

.main-table th{
    background-color: #333;
    color: #eee;
}

.main-table .btn {
    padding: 3px 10px;
}

.home-stats .stats {
    background-color: #BBB;
    border: #777 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.home-stats .stats span {
    font-size: 40px;
    display: block;
}

.latest {
    background-color: #DDD;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 0;
}

.latest:nth-child(even) {
    background-color: #EEE;
}

.latest a {
    text-decoration: none;
}

.latest li {
    padding: 5px 0;
}

.latest .btn {
    padding: 0 8px 2px;
}

/* Categories Page */

.cats hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.cats .ordering a {
    color: #888;
    text-decoration: none;
}

.cats .ordering .active {
    color: #F00;
    font-weight: bolder;
}

.cats .cat {
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.cats .cat .hidden-btn {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -150px;
}

.cats .cat:hover .hidden-btn {
    right: 10px;
}

.cats .cat .btn {
    padding: 0 8px 2px;
}

.cats .card-body {
    padding: 0;
}

.cats .cat:hover {
    background-color: #EEE;
}

.cats .cat h3 {
    margin: 0 0 10px;
}

.cats .cat:last-of-type ~ hr {
    display: none;
}

.hidden {
    color: #777777;
    font-weight: bold;
}

.comments {
    color: #6a1a21;
    font-weight: bold;
}

.ads {
    color: #0c4128;
    font-weight: bold;
}

/* Categories Page */
